<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>A.O.D</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/grayscale.css" rel="stylesheet">
  <link href="static/css/main.css" rel="stylesheet">


</head>

<body id="inicio">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#inicio">Inicio</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#horario">Horario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#acciones">Acciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#user">{{ user }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/logout">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0">A.O.D</h1>
      </div>
    </div>
    <li></li>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
        {% for mensaje in mensajes%}
        {% if mensaje == 'Laboratorio no valido' %}
        <div class="alert alert-danger alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ mensaje }}</strong>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ mensaje }}</strong>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
    </div>
  </header>

  <!-- Horario -->
  <section id="horario" class="projects-section text-center bg-black">
    <div class="row">
      <div class="col-md-1"> </div>
      <div class="col-md-10 overflow-auto table-wrapper-scroll-y my-custom-scrollbar2">
        <table class="table table-striped table-hover table-bordered table-sm bg-white">
          <thead>
            <tr>
              <td>Laboratorio</td>
              <td>Clase</td>
              <td>Lunes</td>
              <td>Martes</td>
              <td>Miercoles</td>
              <td>Jueves</td>
              <td>Viernes</td>
              <td>Sabado</td>
            </tr>
          </thead>
          <tbody>
            {% for horario in horarios%}
            <tr>
              <td>{{ horario.8 }}</td>
              <td>{{ horario.1 }}</td>
              <td>{{ horario.2 }}</td>
              <td>{{ horario.3 }}</td>
              <td>{{ horario.4 }}</td>
              <td>{{ horario.5 }}</td>
              <td>{{ horario.6 }}</td>
              <td>{{ horario.7 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </section>

  <!-- Usuario -->
  <section id="user" class="projects-section bg-black">
    Informacion de usuario
  </section>

  <!-- Acciones -->
  <section id="acciones" class="projects-section bg-black">
    <div class="row">
      <div class="col-md-2"> </div>
      <div class="col-md-4">
        <div class="card card-body">
          <form action='/abrir' method='POST'>
            <div class="form-group">
              <select class="form-control" name='laboratorio' id="laboratorio">
                <option>Laboratorio</option>
                <option>L1-General</option>
                <option>L2-Industrial</option>
                <option>L3-Materiales</option>
                <option>L4-Electromedicina</option>
                <option>L5-Telecomunicaciones</option>
                <option>L6-Software</option>
              </select>
            </div>
            <div class="form-group">
              <button class="submit btn btn-primary btn-block">Abrir</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-body">
          <form action='/cerrar' method='POST'>
            <div class="form-group">
              <select class="form-control" name='laboratorio' id="laboratorio">
                <option>Laboratorio</option>
                <option>L1-General</option>
                <option>L2-Industrial</option>
                <option>L3-Materiales</option>
                <option>L4-Electromedicina</option>
                <option>L5-Telecomunicaciones</option>
                <option>L6-Software</option>
              </select>
            </div>
            <div class="form-group">
              <button class="submit btn btn-primary btn-block">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    </div>
  </section>

  <!-- Contacto   -->
  <section id="contacto" class="contact-section bg-black">
    <div class="container">

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/grayscale.js"></script>

</body>

</html>
